Resources/Schema3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Training/Resources/Schema3.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Training/Resources/Schema3.xsd"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pawan" type="xs:string" minOccurs="0"/>
				<xs:element name="Sumit" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>